.test{
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .active {
    background-color: #4CAF50;
  }
  li {
    display: inline;
  }

  img{
    max-width:450px;
    max-height:450px;
}